* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 6rem;
}
.form-container {
  position: relative;
  width: 50%;
  margin: auto;
  height: 55%;
  background-color: #b2b2b2;
  text-align: center;
}
.form-container input {
  display: inline-block;
  font-size: 1.5rem;
  color: black;
}

.form-container label {
  display: inline-block;
  font-size: 1.5rem;
}

.input-wrapper {
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  padding: 1rem;
}

textarea {
  white-space: pre;
}

button[type="submit"] {
  font-size: 1.5rem;
  background-color: #b2b2b2;
  color: black;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.headline {
  font-size: 2.5rem;
  margin-top: 2rem;
  font-weight: bold;
}

.product-image-container
{
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 25%;
  margin: 2rem;
}
.product-image-container span {
  font-size: 1.5rem;
  font-weight: bold;
}