<%- include('../includes/designer/designer-head.ejs') %>
</head>
<body>

<main>
<%- include("../includes/designer/nav-menu.ejs") %>
<center>
<h1>AI MAGIC!!!</h1>
<form method="POST" action="/design" enctype="multipart/form-data">
    <input type="file" name="image" id="image" required>
    <button type="submit">Use the AI</button>
</form>
</center>
</main>








