<%- include('../includes/designer/designer-head') %>
    <title>Designer's Wallet</title>
</head>
<body>
    <%- include('../includes/designer/nav-menu') %>
    <main>
        <h1 style="position: absolute; left: 50%; top:0; color: black;">Your wallet contains: <%=money%></h1>


        
    </main>
</body>
</html>