<%- include('../includes/head.ejs') %>

</head>
<body>
<%- include('../includes/nav.ejs') %>
<main>
  <h1 style="font-weight:bold; font-size: 35px; text-align:center;">Thank you for your purchase! </h1>
  <div style="position: absolute; left: 45%; top: 15%; height: 30px; width: 150px;">
  <a href="/"><button style="font-size: 20px;  position: relative;" type="button">Back to Home page</button></a>
  </div>
</main>
</body>
<%- include('../includes/footer.ejs') %>